.modal.fade#import_csv_modal{role: 'dialog'}
  .modal-dialog
    .modal-content{align: 'center'}
      .modal-header
        %h3 Select Excel export from Barclay Card for upload
      .modal-body
        = form_tag barclay_csv_import_expense_claims_path, multipart: true do
          .form-row
            = file_field_tag :file, class: 'custom-file-input', id: 'file-import-field'
            = label_tag 'file-import-field', 'Choose', class: 'custom-file-label'
          .form-row.btn-toolbar{ align: 'center' }
            = submit_tag 'Import', class: 'btn btn-primary mx-auto'
            %button.btn.btn-secondary.mx-auto{"data-dismiss" => "modal", :type => "button"} Cancel

:javascript
  $('input[type="file"]').change(function(e){
      var fileName = e.target.files[0].name;
      $('.custom-file-label').html(fileName);
  });