#receipt-modal.modal.hide.fade{role: "dialog",
                               data: { controller: 'receipt', target: 'receipt.modal', 'receipt-addressee': email_recipient },
                               tabindex: '-1' }
  .modal-dialog
    .modal-content{align: 'center'}
      .modal-header
        %h3 Receipt
      .modal-body
        %ul#myTab.nav.nav-tabs{:role => "tablist"}
          %li.nav-item
            %a#home-tab.nav-link.active{"data-toggle" => "tab", :href => "#image-upload", :role => "tab"} Image Upload
          %li.nav-item
            %a#profile-tab.nav-link{"data-toggle" => "tab", :href => "#image-url", :role => "tab"} Image URL
          %li.nav-item
            %a#contact-tab.nav-link{"data-toggle" => "tab", :href => "#email-receipt", :role => "tab"} Email Receipt

        #myTabContent.tab-content
          #image-upload.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
            = render 'receipt_upload_form'
          #image-url.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
            = render 'receipt_image_url_form'
          #email-receipt.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"}
            = render 'receipt_from_email_form'

        .form-group#receipt-image-placeholder{ data: { target: 'receipt.receiptImagePlaceholder' } }