div.expense-entry {
  @extend .form-row;

  &:hover {
    background-color: lightgray;
  }
}

div.field-with-errors .form-control {
  @extend .is-invalid;
}

button.expenses-button {
  color: $link-color;
  background-color: transparent;
  border-width: 0pt;
}

a.expenses-action-icon {
  color: $link-color;
}
