@import '~bootstrap/scss/bootstrap';

@import 'variables';
@import 'base';

img.receipt-img {
  width: auto;
  height: auto;
  max-width: 200mm;
}

img.converted-pdf {
  width: auto;
  height: auto;
  max-width: 200mm;
}

div.input-group small {
  // Positions the warning underneath the box.
  position: absolute;
  bottom: -20px;
}

div.email-body {
  // all: unset;
}