/* override styles when printing */
@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }

  header, footer, aside, nav, form, iframe, .menu {
    display: none;
  }

  h1 {
    page-break-before: always;
  }

  .page-break {
    page-break-before: always;
  }

  h3::before {
    page-break-before: always;
    page-break-after: avoid;
  }

  img.receipt-img {
    width: auto;
    height: auto;
    max-width: 200mm;
  }

  img.converted-pdf {
    width: auto;
    height: auto;
    max-width: 200mm;
  }
}


